<form>
  <div class="row collapse">
    <div class="large-1 columns">
      <span class="prefix"><i class="fa fa-search"></i></span>
    </div>
    <div class="large-9 columns">
      <input type="text" id="filtered" placeholder="e.g. Rand Hindi" ng-model="search.name" ng-change="updateFilter()" />
    </div>
    <div class="large-2 columns">
      <a href="#" class="button postfix" ng-click="open()">Add Match</a>
    </div>
  </div>
</form>

<div class="row collapse">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>
            <a href="" ng-click="order=!order; currentPage=0" ng-init="order=true">Level</a>
            <i ng-class="(order) ? 'fa-caret-up' : 'fa-caret-down'" class="fa right inline"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in (results = players | filter:search) | orderBy:'level':order | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
          <td><a href="#/user/{{player.name}}">{{ player.name }}</a></td>
          <td>{{ player.company }}</td>
          <td>
            <div class="gauge_ext" style="background-color: lightgray; width: 200px; height: 25px">
              <div class="gauge_inner" style="position: absolute; background-color: lightblue; height: 25px; width: {{ player.level_ratio * 200 | number: 0 }}px">
              </div>
              <div style="position: absolute; margin-left: 5px; margin-top: 3px">Level {{ player.level }} - {{ player.points }} points</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row collapse">
  <div class="pagination-centered large-12 columns">
    <ul class="pagination">
      <li ng-class="{unavailable: pagination.page == 0}" class="arrow"><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{current: n == pagination.page}">
        <a href="" ng-click="pagination.toPageId(n)">{{ n + 1 }}</a>
      </li>
      <!-- <li class="unavailable"><a href="">&hellip;</a></li> -->
      <li ng-class="{unavailable: pagination.page + 1 >= pagination.numPages}" class="arrow"><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
    </ul>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="row collapse">
    <h3>Add a match</h3>
  </div>
  <div class="row collapse">
    <div class="small-5 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="player1-name" class="right inline">Player 1</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="player1-name" placeholder="" ng-model="player1.name">
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <label for="score1-value" class="right inline">Score</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="score1-value" placeholder="" ng-model="player1.score">
        </div>
      </div>
    </div>
    <div class="small-5 small-offset-2 columns">
      <div class="row">
        <div class="small-9 columns">
          <input type="text" id="player2-name" placeholder="" ng-model="player2.name">
        </div>
        <div class="small-3 columns">
          <label for="player2-name" class="left inline">Player 2</label>
        </div>
      </div>
      <div class="row">
        <div class="small-9 columns">
          <input type="text" id="score2-value" placeholder="" ng-model="player2.score">
        </div>
        <div class="small-3 columns">
          <label for="score2-value" class="left inline">Score</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-4 small-offset-4 columns">
      <a href="#" class="button small expand" ng-click="ok()">Done</a>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>
